<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-between center">

    <div fxFlex style="width: 70%;">
      <form [formGroup]="searchMovieForm" (ngSubmit)="searchMovie()"
        fxLayout="column" fxLayoutAlign="space-around start">
        <h4 matLine>Search Movie</h4>
        <div fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex style="margin: 0 5px">
              <mat-label>Title</mat-label>
              <input matInput formControlName="movieTitle" type="text" required>
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0 5px">
              <mat-label>Year</mat-label>
              <input matInput formControlName="movieYear" type="text">
            </mat-form-field>
          </div>
        </div>
        <button fxFlex mat-icon-button class="search-button" color="accent" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
        <p *ngIf="!userData" style="font-size: smaller; color: darkgray;">*Please log in to enter a review</p>
      </form>
    </div>

    <div *ngIf="userData" fxFlex style="width: 75%; margin-top: 60px;">
      <form [formGroup]="reviewForm" fxLayout="column" fxLayoutAlign="space-between center"
       (ngSubmit)="edit ? updateReview() : saveNewReview()">
        <mat-label>Your rating</mat-label>
        <mat-slider formControlName="userRating" thumbLabel min="1" max="10" step="0.1" tickInterval="1"
          style="width: 80%;">
        </mat-slider>
        <mat-form-field fxFlex appearance="standard" style="width: 80%;">
          <mat-label>Description</mat-label>
          <textarea matInput rows="15" formControlName="review" required></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!reviewForm.valid || errMsg.err">
          {{ edit ? 'Update!' : 'Send!' }}
        </button>
      </form>
    </div>
  </div>

  <div fxFlex="45">
    <mat-card class="form-card">
      <mat-card-title-group style="margin: 10px 0;">
        <mat-card-title>{{ review.movieTitle ? review.movieTitle : 'Movie Title' }}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 5px;">
          {{ review.type ? review.type : 'Type' }} {{ review.movieYear ? review.movieYear: 'Movie Year' }}
        </mat-card-subtitle>
        <div>
          <i class="fas fa-star" style="color: gold; margin-right: 3px;"></i>
          {{ review.movieRating ? review.movieRating : 0.0 }} 
          <mat-chip selected="true" class="imdb">IMDb</mat-chip>
        </div>
      </mat-card-title-group>
      <img mat-card-image [src]="(!review.moviePoster || review.moviePoster=='N/A')? 
      '/assets/no-image.png' : review.moviePoster">
      <mat-card-content>
        <p>{{ review.moviePlot }}</p>
      <mat-chip-list>
          <div *ngIf="review.movieGenre">
            <mat-chip  selected="true" color="accent" style="font-size: small;" 
              *ngFor="let genre of review.movieGenre.split(',')">
              {{ genre }}
            </mat-chip>
          </div>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>