$background-color: #333;

.form-card {
  max-width: 300px !important;
}

.search-button {
  margin: 0 5px;
}

.imdb {
  background-color: #f8eb2d !important;
  color: black !important;
  font-size: smaller;
  padding: 5px 10px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: $background-color;
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}