.form-card {
  max-width: 300px !important;
}

.search-button {
  margin: 0 5px;
}

.imdb {
  background-color: #f8eb2d !important;
  color: black !important;
  font-size: smaller;
  padding: 5px 10px;
}