<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex="45">

    <form *ngIf="!edit" [formGroup]="searchMovieForm" (ngSubmit)="searchMovie()"
      fxLayout="column" fxLayoutAlign="space-around start">
      <h4 matLine>Search Movie</h4>

      <div fxFlex>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <mat-form-field fxFlex style="margin: 0 5px">
            <mat-label>Title</mat-label>
            <input matInput formControlName="movieTitle" type="text" required>
          </mat-form-field>
          <mat-form-field fxFlex style="margin: 0 5px">
            <mat-label>Year</mat-label>
            <input matInput formControlName="movieYear" type="text">
          </mat-form-field>
        </div>
      </div>
      <button fxFlex mat-icon-button class="search-button" color="accent" type="submit">
        <i class="fas fa-search"></i> Search
      </button>
    </form>




    <form [formGroup]="reviewForm" fxLayout="column" fxLayoutAlign="space-between center"
     (ngSubmit)="edit ? updateReview() : saveNewReview()">
      <mat-form-field fxFlex>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" type="text">
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput rows="2" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Image URL</mat-label>
        <input matInput type="url" formControlName="image">
      </mat-form-field>
      <button mat-flat-button type="submit">Save</button>
    </form>
  </div>

  <div fxFlex="45">
    <mat-card class="form-card">
      <img mat-card-image [src]="reviewForm.value.image == '' ? '/assets/no-image.png' : reviewForm.value.image"
      style="height: 300px;">
      <mat-card-content>
        <h3>{{ reviewForm.value.id }}. {{ reviewForm.value.title == '' ? 'review Title' : reviewForm.value.title }}</h3>
        <p>{{ reviewForm.value.description == '' ? 'Write Your Description' : reviewForm.value.description }}</p>
        <p>{{ reviewForm.value.created_at | date: 'yyyy-MMM-dd' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>