$background-button: #333;
$background-footer: rgb(73, 73, 73);

.footer {
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: $background-footer;
  height: 110px;
}

.footer-bt {
  background-color: $background-button !important;
  margin: 5px;
}