<div class="dark-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex="45">
    <form [formGroup]="movieForm" fxLayout="column" fxLayoutAlign="space-between center"
     (ngSubmit)="edit ? updateGame() : saveNewGame()">
      <mat-form-field fxFlex>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" type="text">
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput rows="2" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Image URL</mat-label>
        <input matInput type="url" formControlName="image">
      </mat-form-field>
      <button mat-flat-button type="submit">Save</button>
    </form>
  </div>

  <div fxFlex="45">
    <mat-card class="form-card">
      <img mat-card-image [src]="movieForm.value.image == '' ? '/assets/no-image.png' : movieForm.value.image"
      style="height: 300px;">
      <mat-card-content>
        <h3>{{ game.id }}. {{ movieForm.value.title == '' ? 'Game Title' : movieForm.value.title }}</h3>
        <p>{{ movieForm.value.description == '' ? 'Write Your Description' : movieForm.value.description }}</p>
        <p>{{ game.created_at | date: 'yyyy-MMM-dd' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>