



.sign-up {
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  color: white;
}

.cancel {
  text-align: end;
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  cursor: pointer;
}