$background-color: #555556;

.sign-up {
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.cancel {
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  cursor: pointer;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: $background-color;
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}