$background-color: #424242;

.form-box {
  margin: 15px;
  font-size: small;
}

.form-field {
  width: 80%;
  margin: 15px 0;
}

.profile-card {
  text-align: center;
  mat-card-title {
    margin-bottom: 20px;
  }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: $background-color;
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}