$bg-light: #494949;

.profile-card {
  background-color: $bg-light;
  margin-bottom: 25px;
}

.signup-button {
  width: 100%;
  margin-top: 10px;
}

.sign-in {
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.cancel {
  text-decoration: none;
  font-size: smaller;
  margin-top: 10px;
  cursor: pointer;
}